.bg-green {
  background-color: #5eb562;
}

.bg-light-green {
  background-color: rgba(94, 181, 98, 0.5);
}

.bg-dark-green {
  background-color: rgba(94, 181, 98, 0.8);
}

body {
  font-family: "Segoe UI", sans-serif;
}

.login-card {
  background: #e8f5e9;
  border-radius: 10px;
  height: 70vh;
  margin-top: 8vh;
  padding-top: 8vh;
  padding-bottom: 10vh;
}

.login-input {
  border: 1px solid #5eb562;
  padding: 10px;
  border-radius: 6px;
  width: 75%;
  margin: auto;
}

.login-input:focus {
  border: 1px solid #5eb562;
}

.login-btn:hover {
  background-color: #0a9411 !important;
  color: #fff;
}

.bg-image {
  background-image: url("assest/bg_image.png");
  background-size: contain;
  background-position: center;
}

.inside-box {
  background-color: rgba(255, 255, 255, 0.507);
  height: 100vh;
}

.quiz-card {
  max-width: 600px;
  border-radius: 12px;
}

.result-card {
  width: 300px;
  background: #e8f5e9;
  border-radius: 10px;
}

.option-btn {
  border: none;
  padding: 10px;
  padding-left: 35px;
  margin-bottom: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.option-btn:hover {
  background-color: #d1e7dd;
  color: black;
}

.option-selected {
  background-color: #5eb562;
  color: #fff;
}

.radio-active[type="radio"] {
  background-color: #ffffff;
  border-color: #5eb562;
  --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%235eb562'/%3e%3c/svg%3e");
}
